@import '../../../app/styles/helpers.scss';

.title {
    display: flex;
    align-items: center;

    .lattice {
        @include text(32px, normal, 400, normal, var(--color-red));
        text-shadow: var(--color-red) 0px 2px 3px;
    }

    .text {
        @include text(32px, normal, 400, normal, var(--color-white));
        text-shadow: var(--color-red) 0px 2px 3px;
    }

    .line {
        border-bottom: 1px solid var(--color-red);
        margin-left: 16px;
        box-shadow: var(--color-red) 0px 2px 3px;
    }
}