.wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-bottom: 1px solid var(--color-white);
    overflow: hidden;

    .line {
        width: 214px;
    }

    .cases {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .back {
        background: var(--color-red);
        filter: blur(200px);
        height: 400px;
        width: 400px;
        right: -10%;
        position: absolute;
        top: 30%;
    }
}