.cases {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--color-white);
    gap: 60px;

    .line {
        width: 569px;
    }
}