.modalWrapper {
  position: absolute;
}

.background {
  background-color: rgba(100, 100, 100, 0.4);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 102;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 105;
}

.modal {
  display: flex;
  padding: 40px 60px;
  background-color: var(--color-back);
  border-radius: 20px;
  width: 80vw;
  height: 80vh;
}