@import '../../../app/styles/helpers.scss';

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;
    // border: 1px solid var(--color-white);
    // box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);

    .img {
        // height: 274px;
        // object-fit: cover;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 60px 123px -25px hsla(225, 2%, 62%, .42), 0 35px 75px -35px hsla(225, 2%, 62%, .08);
        box-shadow: 0 60px 123px -25px #5D3B41, 0 35px 75px -35px #4A4445;
        // -webkit-filter: blur(0);
        // filter: blur(0);
        height: 398px;
        // opacity: 1;
        -webkit-transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
        transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
        transition: all .6s ease;
        width: 700px;

        &:hover {
            box-shadow: 0 19px 67px -38px hsla(225, 2%, 62%, 0.8);
            -webkit-transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
            transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
        }

        
    }

    .reverseImg {
        -webkit-transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
        transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
        // transition: all .6s ease;

        &:hover {
            box-shadow: 0 19px 67px -38px hsla(225,2%,62%,.8);
            -webkit-transform: perspective(800px) rotateY(15deg) translateY(50px) rotateX(10deg) scale(1);
            transform: perspective(800px) rotateY(15deg) translateY(50px) rotateX(10deg) scale(1);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 40px;
        .title {
            @include text(24px, medium, normal, normal, var(--color-white));
            border: 1px solid var(--color-red);
            width: fit-content;
            padding: 16px 24px;
            box-shadow: 6px 6px 0 0 var(--color-red);
        }

        .stack {
            @include text(21px, medium, normal, normal, var(--color-white));
        }

        .description {
            @include text(21px, medium, normal, normal, var(--color-white));
        }

        .links {
            display: flex;
            gap: 30px;
        }
    }
}

.reverseCard {
    flex-direction: row-reverse;
}