@import '../../../app/styles/helpers.scss';

.title {
    @include text(24px, medium, normal, normal, var(--color-white));
    border: 1px solid var(--color-red);
    width: fit-content;
    padding: 16px 24px;
    box-shadow: 6px 6px 0 0 var(--color-red);
}