.avatar {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 604px;
  border-bottom: 1px solid var(--color-white);
  overflow: hidden;
  position: relative;

  .cloud {
    align-self: flex-end;

  }

  .counter {
    display: flex;
    align-self: flex-end;
    position: absolute;
    top: 10px;
    gap: 5px;
    padding-right: 5px;

    .count {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color-dark);
    }
  }

  .imgWrap {
    position: absolute;
    width: 380px;
    height: 537px;
    bottom: -30px;
    // animation: 1s linear 0s both alternate avatar;
    // animation-delay: 11s;
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .middleImg {
    position: absolute;
    width: 420px;
    height: 577px;
    bottom: -55px;
  }

  .bigImg {
    position: absolute;
    width: 500px;
    height: 657px;
    bottom: -70px;
  }
}

.shadow {
  box-shadow: inset 0px 0px 5px 4px var(--color-dark);
}

.textShadow {
  text-shadow: var(--color-red) 1px 3px 2px;
  color: var(--color-white);
}

.react {
  font-size: 64px;
  margin-right: 90px;
}

.css {
  font-size: 28px;
  margin-right: 90px;
}

.typescript {
  font-size: 48px;
  margin-right: 94px;
}

.html {
  font-size: 36px;
  margin-right: 102px;
}

.js {
  font-size: 48px;
  margin-right: 90px;
}

.git {
  font-size: 40px;
  margin-right: 130px;
}

.jest {
  font-size: 36px;
  margin-right: 140px;
}

.sass {
  font-size: 32px;
  margin-right: 150px;
}

.vite {
  font-size: 28px;
  margin-right: 90px;
}

// .test {
//   position: absolute;
//   flex-direction: column;
//   animation: 1.5s linear 0s both alternate test;
//   animation-delay: 10s;
//   align-self: flex-end;
//   margin-right: 30px;
// }

// .firstLine,
// .secondLine {

//   white-space: nowrap; /* keep text in one line */
//   overflow: hidden; /* hide text behind the cursor */
//   // margin: 0.5rem auto;
//   // font-family: "Major Mono Display", monospace;
//   font-size: 21px;
//   font-weight: bold;
//   color: wheat;
// }
// .firstLine {
//   border-right: 2px solid var(--color-back);
//   animation: typewriter_1 6s steps(26) 1s 1 normal both, first_cursor 900ms steps(26) 8;
// }
// .secondLine {
//   border-right: 2px solid var(--color-back);
//   animation: typewriter_2 5s steps(31) 1s 1 normal both, second_cursor 900ms steps(31) infinite;
//   -webkit-animation-delay: 7s;
//   animation-delay: 7s;
// }

// @keyframes typewriter_1 {
//   from {
//     width: 0;
//   }
//   to {
//     width: 25rem;
//   }
// }
// @keyframes typewriter_2 {
//   from {
//     width: 0;
//   }
//   to {
//     width: 23rem;
//   }
// }

// @keyframes first_cursor {
//   from {
//     border-right-color: rgba(165, 31, 31, 0.9);
//   }
//   to {
//     border-right-color: var(--color-back);
//   }
// }
// @keyframes second_cursor{
//   from {
//     border-right-color: rgba(165, 31, 31, 0.9);
//   }
//   to {
//     border-right-color: var(--color-back);
//   }
// }

// @keyframes avatar {
//   from {
//     opacity: 0;
//     transform: translateY(500px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }