@import '../../../app/styles/helpers.scss'; 

.link {
    position: relative;
    padding: 8px 16px;
    text-decoration: none;
    width: fit-content;
    background-color: var(--color-red);
    transition: all .3s ease-in-out;
    @include text(16px, normal, 400, normal, var(--color-white));
    
    &:hover {
        // background-color: #D3C3C9;
        box-shadow: 0 0 20px var(--color-red);
        transform: translateY(-6px);
        transition: all .3s ease-in-out;
    }
}